<div class="container-fluid">
    <div class="row text-center">
        <h1>Welcome in Internet Radio!</h1>
        <h4>This is a place where music can be shared with others freely!</h4>

        <div class="bar-c">
            <div id="bar-1" class="bar"></div>
            <div id="bar-2" class="bar"></div>
            <div id="bar-3" class="bar"></div>
            <div id="bar-4" class="bar"></div>
            <div id="bar-5" class="bar"></div>
            <div id="bar-6" class="bar"></div>
        </div>
        <br>
        <h4>You can upload you music, compose playlists & run your personal radio!</h4>
    </div>
</div>
