<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/landing" routerLinkActive="active">Internet Radio</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a routerLink="/channels" routerLinkActive="active">Channels</a></li>
        </ul>
        <ul class="nav navbar-nav" *ngIf="_tokenService.userSignedIn()">
            <li><a routerLink="/player" routerLinkActive="active">Player</a></li>
            <li><a routerLink="/playlists" routerLinkActive="active">Playlists</a></li>
            <li><a routerLink="/songs" routerLinkActive="active">Songs</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" *ngIf="!_tokenService.userSignedIn()">
            <li role="presentation" ng-class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Sign in<span class="glyphicon glyphicon-collapse-down"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/login" routerLinkActive="active">Sign in<span class="glyphicon glyphicon-log-in"></span></a></li>
                    <li><a routerLink="/register" routerLinkActive="active">Sign up<span class="glyphicon glyphicon-edit"></span></a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" *ngIf="_tokenService.userSignedIn()">
            <li role="presentation">
                <a (click)="destroy()" href="#">Sign out<span class="glyphicon glyphicon-log-out"></span></a>
            </li>
        </ul>
    </div>
</nav>
